html, body
{
  height: 100%;
  margin: 0;
}

body
{
background-color:bisque;
color:rgb(75, 55, 29);
}

.header
{
	color: rgb(145, 112, 72);
	font-family: 'Yeon Sung';
	font-size: 45px;
	letter-spacing: 10px;
	margin-top: 15px;
	margin-left:50%;
}

.header-two
{
	color: rgb(145, 112, 72);
	font-family: 'Yeon Sung';
	font-size: 45px;
	letter-spacing: 10px;
	float:none;
	margin-left:100px;
	
}

.login_div
{
	background-color:rgb(254, 247, 238);
	margin-left:50%;
	float:none;
	border-radius: 5px;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:15px;
	padding-right:15px;
}

.logo
{
	width: 80px;margin-top: 30px;border-radius: 40px;
}

#login_button
{
	width: 80%;
	border-radius: 5px;
	background-color:bisque;
	border-color:bisque;
	color:rgb(145, 112, 72);
}

#trending_text
{
	font-family:'Yeon Sung';
}

#user_name
{
	color:rgb(145, 112, 72);
}

.room_name
{
	cursor: pointer;
	font-size: 20px;
}

#room_name
{
	width:500px;
}

#join_button
{
	background-color: bisque;
	border-color: bisque;
	border-radius: 5px;
	color:rgb(145, 112, 72);
}

#send_btn
{
	background-color:bisque;
	border-color:bisque;
	border-radius:5px;
	color:rgb(145, 112, 72);
	margin-bottom:10px;
}

#logout
{
	font-size: 20px; float: right;
	font-family: 'Yeon Sung';
	margin-top:5px;
}


#output
{
	padding: 10px; width:80%;background: rgba(255,255,255,0.8);border-radius: 15px;
	width:500px;
}

.input_div_room_page
{
	width: 80%;
}

.input_div label
{
	color: white;font-size: 20px;
}

.input_div_message_page
{
	position: fixed;
	bottom: 0px;
	width: 100%;
	background: rgba(255,255,255,0.8);
	padding-top:10px;
}

.input_div_message_page label
{
	color: black;
}

.input_div_message_page #msg
{
	width: 80%;
}

.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}

.color_white
{
	color: white
}

.user_tick
{
	width:20px;
}

.message_h4
{
	padding-left:5px;color:grey;
}

#picture
{
	margin-top: 15px;
	margin-bottom:15px;
	margin-left:50%;
	width:33%;
	border-radius:5px;
}

#picture2
{
	margin-top: 15px;
	margin-bottom:15px;
	width:33%;
	border-radius:5px;
}